@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: linear-gradient(222.96deg, #CA1154 1.65%, #E23C2A 51.25%, #F55E08 83.75%);   
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bodyRecados {
    background-color: #f5ecf4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    padding: 30px;
}

.container {
    background-color: #f5ecf4;
    border-radius: 10px;
    padding: 30px;
    min-height: 40vh;
    max-height: 50vh;
    min-width: 35vw;
    max-width: 50vw;
}

.containercadastro {
    background-color: #f5ecf4;
    border-radius: 10px;
    padding: 30px;
    min-height: 55vh;
    max-height: 50vh;
    min-width: 35vw;
    max-width: 50vw;
}

.form {
    display: flex;
    flex-direction: column;
}


h1, h2 {
    margin-bottom:1rem;
    color: #F55E08;
}

.username{
   padding: 10px;
   margin-bottom: -5px;
   outline: none;
}

.password{
    padding: 10px;
    outline: none;
    margin-bottom: 5px;
}

#repetpassword{
    padding: 10px;
    outline: none;
    margin-top: -10px;
}

#descricao{
    padding: 10px;
    width: 30vw;
    display: inline-block;
    margin-right: 10px;
}

#detalhamento{
    margin-top: 10px;
    padding: 10px;
    width: 55vw;
    display: flex;
    display: inline-block;
}

.button {
    padding-top: 10px;
    background: linear-gradient(222.96deg, #CA1154 1.65%, #E23C2A 51.25%, #F55E08 83.75%);
    padding: 8px;
    size: 20px;
    color: #ffff;
    border-radius: 2px;
}

.buttonRecadosSalvar {
    padding-top: 10px;
    background: linear-gradient(222.96deg, #CA1154 1.65%, #E23C2A 51.25%, #F55E08 83.75%);
    padding: 8px;
    width: 100px;
    color: #ffff;
    border-radius: 2px;
}

.buttonRecadosSair {
    background: #fe1d04;
    padding: 8px;
    width: 120px;
    color: #ffff;
    border-radius: 45px;
    margin-top: 50px;
}

.buttonRecados {
    padding-top: 10px;
    background: #F55E08;
    padding: 8px;
    width: 80px;
    color: #ffff;
    border-radius: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

a {
    font-size: smaller;
    color: #CA1154;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.table{
    border-collapse: collapse;
    margin-top: 30px;
    width: 95vw;
}

.tr{
    border: 1.05px solid #e23c2a;
}

th, td{
    padding: 10px;
}

#tbody {
    padding: 20px;
    align-items: center;
    text-align: center;
    color: rgb(54, 54, 54);
}
